/* inceput meniu */
nav#navigation > ul> li{
  display: inline-block;
  padding: 12px;
  border: 2px #cc9966 solid;
  margin-left: -4px;
  position: sticky;
}
  nav#navigation>ul>li>a{
  text-decoration: none;
  color: #e4cdb4;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
}
  nav#navigation{

  background-color:black;
  position: sticky;
  display:inline-block;
  width: 100%;
  top:0%;
  z-index: 1;
}
nav#navigation>ul>li:hover {
  background-color: rgb(204, 153, 102, 0.3);
}
nav#navigation>ul>li:hover>a{
  color: white;
}
nav#navigation>ul>li#active {
  background-color: #cc9966;
}
nav#navigation>ul>li#active>a {
  color: white;
}
/* final meniu */

.dropbtn {
  color: white;
  border: none;
  white-space: nowrap;
}
.dropdown {
  display: inline-block;
  white-space: nowrap;
}

.dropdown-menu {

  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
  left: 0%;
  color: white;
  white-space: nowrap;
  top: 100%;
}
.dropdown-menu a {
  color: #e4cdb4;
  text-decoration: none;
  display: block;
  max-width: 100%;
  padding-left: 0;
  padding: 12px;
  border-bottom: 0.1vw #cc9966 solid;
  white-space: nowrap;
}
.dropdown-menu a:first-child{
  border-top: 0.1vw #cc9966 solid;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu a:hover{
  background-color:rgb(204, 153, 102, 0.3);
  color: white;
}
  
  
  /* inceput body+titlu */
  h1{
    font-size:2vw;
    text-align: center;
    border: 2px #c18e57 solid;
    background-color: #3a2613;
    color: #e4cdb4 ;
  }
  
  body {
    background-image: url('img/bkkkk.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
  }
  /* final body+titlu */
  
  
  /* inceput footer */
  footer {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: black;
    color:white;
  }
  footer>div#column3{
    justify-content: space-between;
  }
  footer a {
    color: white;
    text-decoration: none;
  }
  .column_footer {
    padding: 20px;
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
  }
      
  #social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
  }
      
  #column2 p {
    margin-bottom: 10%;
  }
      
  footer>div#column1>img {
    max-width: 50%;
  }
      
  footer>div#column2>div#social-media>a>img {
    max-width: 60%;
  }
      
  /* final footer */

.font_lista{
    background-color: rgb(242, 230, 217, 0.6);
    width: 100%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.75vw;
    color: #3d3d29;
    font-family:"Segoe UI";
    font-weight: bold;
}
.lista ul li{
    width: 100%;
    text-align:justify;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.5vw;
    color: #3d3d29;
    font-family:"Segoe UI";
}
div#paragraf{
    margin-left: 1%;
    margin-right: 1%;
    text-align:center;
}
div#paragraf>p{
    background-color: rgb(242, 230, 217, 0.6);
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.5vw;
    color: #3d3d29;
    font-family:"Segoe UI";
    
}
.continut div#paragraf p{
    text-align: justify;
}
div#paragraf>p>span#font_1{
    font-size: 1.85vw;
    font-weight: bold;
    color: brown;
}
div#paragraf>p>span#font_2{
    font-size: 2vw;
}
.lista{
    background-color:rgb(242, 230, 217, 0.6);
    margin-left: 1%;
    margin-right:1%;
}
.contact p{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact p{
    text-align: center;
}
.mail{
    color:brown;
}
.contact p::before{
  content: "";
  display: inline-block;
  width: 4vw;
  height: 4vh;
  margin-right: -1.5vw;
  background-image: url('img/roata5.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
strong{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 2vw;
  color: brown;
  font-family:"Segoe UI";
}